<html>
  <head>
    <style>
      *{ font-family: 'Open Sans', sans-serif;font-size: 12px; } p{font-weight: 500;} table {
      border-collapse: collapse; width: 100%; } td, th { border: 1px solid
      #dddddd; text-align: center; padding: 8px; } tr:nth-child(even) {
      background-color: rgba(221, 221, 221,0.25); } .red{color: red;}
    </style>
  </head>
  <body>
    <p>Department: {{department}}</p>
    <p>Course: {{name}}</p>
    <p>Semester: {{semester}}</p>
    <table>
      <tr>
        <th>Enrolment No.</th>
        <th>Total Presentee</th>
        <th>Total Classes</th>
        <th>Percentage</th>
      </tr>
      {{#each statslist as |item|}}
        <tr class="{{#if item.issafe}} red {{/if}}">
          <td>{{item.rollno}}</td>
          <td>{{item.totPresentee}}</td>
          <td>{{item.totalClasses}}</td>
          <td>{{item.percentage}}</td>
        </tr>
      {{/each}}
    </table>
  </body>
</html>